<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'projects/css/style.css' %}">
    <title>Project</title>
</head>
<body>
    <!-- have individual project with description -->
    <!-- if they are a team member, allow them to edit their info -->
    <!-- allow non-members to vote, once they vote show average votes -->
    <!-- comments would be a good addition -->
</body>
</html>